body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;


}


#parent{
    width: 1500px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 15px;
}


#parent div{
    border-radius: 10px;
    font-size:xx-large ;
    font-weight: 900;
    color: white;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3676D9;
}


#first{
    grid-area:6/1/7/2 ;
}

#first1{
    grid-area:6/2/7/3 ;
}

#first2{
    grid-area: 6/3/7/4;
}

#first3{
    grid-area: 6/4/7/5;
}

#first4{
    grid-area: 6/5/7/6;
}

#first5{
    grid-area: 6/6/7/7;
}

#first6{
    grid-area:6/7/7/8;
}

#first7{
    grid-area: 6/8/7/9;
}

#first8{
    grid-area:6/9/7/10;
}

#first9{
    grid-area: 6/10/7/11;
}

#first10{
    grid-area: 6/11/7/12;
}

#first11{
    grid-area: 6/12/7/13;
}

#second{
    grid-area: 5/1/6/3;
}

#second1{
    grid-area: 5/3/6/5;
}


#second2{
    grid-area:5/5/6/7 ;
}

#second3{
    grid-area: 5/7/6/9;
}

#second4{
    grid-area: 5/9/6/11;
}

#second5{
    grid-area: 5/11/6/13;
}


#third{
    grid-area:4/1/5/4;
}

#third1{
    grid-area: 4/4/5/7;
}

#third2{
    grid-area: 4/7/5/10;
}


#third3{
    grid-area: 4/10/5/13;
}


#fourth{
    grid-area: 3/1/4/5;
}

#fourth1{
    grid-area: 3/5/4/9;
}

#fourth2{
    grid-area: 3/9/4/13;
}

#sixth{
    grid-area: 2/1/3/7;
}

#sixth1{
    grid-area:2/7/3/13 ;
}


#twelfth{
    grid-area: 1/1/2/13;
}

