body{
    display: flex;
    align-items: center;
    height: 100vh;
}

div{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation-name: circle;
    animation-duration: 5s;

}


@keyframes circle{
    from{
        transform: scale(1);

    }

    25%{
        transform: translate(200px, -200px) scale(1.5);
    }

    50%{
        transform: translate(450px, 220px) scale(2.5);
    }

    75%{
        transform: translate(700px, -200px) scale(1);
    }

    to{
        transform: translate(800px, 5px) scale(0.2);
    }
}