body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div{
    width: 200px;
    height: 200px;
    animation: bouncingball 1s 3 ;
    background-color: black;
    border-radius: 50%;
    
    

}


@keyframes bouncingball {
    from{
        transform: translatey(50px);
    }
    50%{
        transform: translatey(0px);
    }

    to{
        transform: translatey(50px);
    }
}