body {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
}

div {
    border: solid blue;
    padding: 10px;
    margin: 10px;
    width: 150px; 
    height: 150px;
}

#specific {
    align-self: flex-end; 
}



